:root {
	--primary: #f0f0f0;
	--secondary: #dadada;
	--tertiary: #fff3c4;
	--padding: 16px;
}
* {
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	max-width: calc(100vw - var(--padding));
	text-wrap: strict;
	font-family: monospace;
	display: flex;
	padding: var(--padding);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	user-select: none;
}
#pattern {
	background: url(./box.svg);
	background-size: 0.5em;
}
body h1 {
	text-align: center;
}
button {
	cursor: pointer;
	font-size: 1em;
	border: none;
	border-radius: 0 8px 8px 0;
	padding: 16px 40px;
	margin: 16px auto;
	font-size: 1em;
	font-family: inherit;
	transition: linear 0.2s all;
	outline: 1px solid var(--secondary);
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.04);
	background: white;
	flex-grow: 1;
}
button:first-child {
	border-radius: 8px 0 0 8px;
}
button:hover, button:active {
	background: var(--tertiary);
}
.card:hover {
	cursor: pointer;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
	border: 0;
	padding: 0;
	margin: -1px;
}
.highlight {
	background: var(--tertiary);
}
.card {
	border: 1px solid var(--secondary);
	border-radius: 12px;
	min-height: 300px;
	max-height: 400px;
	min-width: 276px;
	max-width: 500px;
	text-wrap: balance;
	overflow-wrap: break-word;
	padding: 56px;
	align-content: center;
	text-align: center;
	font-size: 1.3em;
	background: white;
	transition: linear 0.1s all;
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.04);
}
.card:active {
	background: var(--primary);
}
.row {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	align-items: center;
}
#counter {
	display: flex;
	margin: 16px 0;
	padding: 8px;
	border-radius: 6px;
	justify-content: center;
	color:rgb(207, 89, 56)e;
	background: #fff3c4;
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 276px) {
	main {
		display: none;
	}
}
@media screen and (orientation: landscape) and (max-width: 1000px) {
	body {
		width: auto;
		height: auto;
		overflow: scroll;
	}
}